/* Format */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #f7f7f7;
    max-width: 900px;
    margin: 20px auto;
    padding: 0px 15px;
}

h1,
h2,
h3 {
    color: #000;
}

hr {
    border: 0;
    border-top: 3px dotted #aaaaaa;
}

.error {
    color: red;
    margin-top: -10px;
    margin-bottom: 15px;
}

/* Links */
a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.link-special {
    color: red;
}

.link-special:hover {
    color: #cc0000;
    text-decoration: underline;
}

/* Lists */
dt {
    font-weight: bold;
}

ul {
    background-color: #ffffff;
    border: 1px solid #CCC;
    border-radius: 4px;
}

/* Container */
fieldset {
    background-color: #ffffff;
    border: 2px dotted #CCC;
    padding: 10px;
    margin-bottom: 20px;
}

fieldset.data label {
    display: inline-block;
    width: 150px;
    text-align: right;
    vertical-align: middle;
}

.profile {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 15px;
}

.container {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.container-wide {
    padding: 10px;
}

.container-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container-txt-btn {
    display: flex;
    gap: 10px;
}

.container-rqst-btn {
    display: inline-block;
    gap: 5px;
}

.container-btn {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.container legend {
    text-align: left;
}

.container img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.profile img {
    width: 300px;
    height: 300px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content,
.content a {
    padding: 10px;
    list-style: none;
    color: black;
}

.notification {
    color: white;
    background-color: #1c86ff;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 2px;
}

.timestamp {
    color: #aaaaaa;
}

/* Formular Inputs */
#friends-page input[type="text"] {
    width: 100%;
    padding: 10px 20px;
    margin: 0;
}

input[type="text"],
input[type="password"],
textarea,
select {
    font-family: inherit;
    width: 50%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 100%;
    vertical-align: middle;
}

input[type="radio"] {
    margin: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    resize: vertical;
}

/* Button */
button {
    background-color: #aaaaaa;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 100%;
}

.btn-small {
    margin-left: 10px;
}

.btn-blue {
    background-color: #1c86ff;
}

button:hover {
    background-color: #888888;
}

.btn-blue:hover {
    background-color: #1873db;
}

.friend-request li {
    margin-bottom: 8px;
}


/* Responsive Design */
@media screen and (max-width: 700px) {

    .container-rqst-btn {
        display: block;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    fieldset.data label,
    .profile {
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }

    .profile img {
        padding-left: 20%;
        width: 60%;
        height: auto;
    }

    input[type="text"],
    input[type="password"],
    textarea,
    select {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.profile-information dt {
    font-weight: bold;
    font-size: 1.2em;
}

.profile-information dd {
    margin-left: 0;
    margin-bottom: 8px;
}